html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    title 相约摩天轮 ⽩享一夏
    link(rel='stylesheet', type='text/css', href='./../lib/bootstrap-4.1.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./../css/form.css')
    script(type='text/javascript', src='./../js/lib/jquery-3.3.1.min.js')
    script(type='text/javascript', src='./../lib/bootstrap-4.1.1-dist/js/bootstrap.min.js')
    script(type='text/javascript', src='./../js/lib/baidu.js')
  body
    .main-body
      .loading-brand
        image(src='./../images/loading-brand.png', style='width: 100px; ')
      .gift-header
        image.gift-title(src='./../images/loading-title.png')
      .gift-subtitle 5月25日-6月21日
      .gift-subtitle 白玉兰品牌旗舰店邀您白享一夏
      .form-iron
        .form-box-bg
        .form-box
          form.body-form(action="/success", method='post', style='margin-bottom: 0;')
            .form-group
              //- input#item-name(name='gender', value='#{gender}')
              .check-item
                image.radioThumb(src='./../images/thumb-boy.png')
                label.check-item-label(for='exampleRadios1')
                  | 我是玉先生
                input#exampleRadios1.check-item-input(type='radio', name='gender', value='boy', checked='')
              .check-item
                image.radioThumb(src='./../images/thumb-girl.png')
                label.check-item-label(for='exampleRadios2')
                  | 我是兰小姐
                input#exampleRadios2.check-item-input(type='radio', name='gender', value='girl')

            if error === 'name'
              .error-msg * 姓名有误
            .form-group
              input#item-name.form-group-input(type='phone', placeholder='请填写你的姓名', value='#{name}', name='name')
            if error === 'phone'
              .error-msg * 手机号输入有误
            .form-group
              label.phone-label(for='item-phone') +86
              input#item-phone.form-group-input(type='phone', placeholder='请输入手机号',value='#{phone}', name='phone')
            if error === 'date'
              .error-msg * 日期选择有误
            .form-group
              select#item-datetime(name='pick')
                option 请选择可参与的时间段
                option 6月16日 10:00～12:00
                option 6月16日 12:00～18:00
                option 6月17日 10:00～12:00
                option 6月17日 12:00～18:00
                option 6月18日 10:00～12:00
                option 6月18日 12:00～18:00
                option 6月19日 10:00～12:00
                option 6月19日 12:00～18:00
                option 6月20日 10:00～12:00
                option 6月20日 12:00～18:00
                option 6月21日 10:00～12:00
                option 6月21日 12:00～16:00
            button.btn-submit(type='submit') 立即领取