html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    title 请先选择你的性别
    script(type='text/javascript', src='./../js/lib/jquery-3.3.1.min.js')
    script(type='text/javascript', src='./../lib/bootstrap-4.1.1-dist/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='./../lib/bootstrap-4.1.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./../css/gender.css')
  body
    .main-body
      .gift-header
        image.gift-title(src='./../images/title.png')
      .gift-body
        .actor
          a.profile(href='/chat/boy')
            image.thumbnail(src='./../images/ph-big-boy.png')
          .actor-name 玉先生
          .actor-intro 有才、有情、懂得人文情怀
        .actor
          a.profile(href='/chat/girl')
            image.thumbnail(src='./../images/ph-big-girl.png')
          .actor-name 兰小姐
          .actor-intro 有颜、有爱、懂得精致生活

 