html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    title 相约摩天轮 ⽩享一夏
    script(type='text/javascript', src='./../js/lib/jquery-3.3.1.min.js')
    script(type='text/javascript', src='./../lib/bootstrap-4.1.1-dist/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='./../lib/bootstrap-4.1.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./../css/gift.css')
  body
    .main-body
      .gift-header
        image.gift-title(src='./../images/title.png')
      if hasGift
        .gift-body
          .pocket
            //- image.red-bag(src='./../images/red-bag.png')
            .bag-title
              span.title-unit ￥
              | 1098
              //- form(action="http://localhost:3000/form", method='post')
                input(name='gender', value='girl', style='display: none;')
              a.btn-reward(href='/form?type=bag&gender=#{gender}') 立即领取
        .gift-list
          .gift-item
            .item-main
              .item-main-title 房费抵用券
              .item-main-desc
                | 100元＊3张
            .item-sub
              image.item-sub-icon(src='./../images/icon-hotel.png')
          .gift-item
            .item-main
              .item-main-title 68元周末节假日自助早午餐
              .item-main-desc
                | 2人同行1人免单券2张 
            .item-sub
              image.item-sub-icon(src='./../images/icon-meal.png')
          .gift-item
            .item-main
              .item-main-title 赠饮券2张 
              .item-main-desc
                | （任意非酒精饮料）
            .item-sub
              image.item-sub-icon(src='./../images/icon-drink.png')
          .gift-item
            .item-main
              .item-main-title 100元餐饮抵用券
              .item-main-desc
                | 20元＊5张，每次只可使用1张
            .item-sub
              image.item-sub-icon(src='./../images/icon-eat.png')
          .gift-item
            .item-main
              .item-main-title 锦江乐园摩天轮门票2张
              .item-main-desc
                | 摩天轮门票仅限6/21当日乘坐锦江乐园
                br
                | “上海大转盘”项目1次，逾期作废。
            .item-sub
              image.item-sub-icon(src='./../images/icon-wheel.png')
          .gift-item
            .item-main
              .item-main-title 白玉兰酒店开业伴手礼1份
              .item-main-desc
                | IP人物环保背包
            .item-sub
              image.item-sub-icon(src='./../images/icon-gift.png')
          .gift-item
            .item-main
              .item-main-title 爱奇艺影视房免费体验1次
              .item-main-desc
                | 8:00-18:00内任意4小时
            .item-sub
              image.item-sub-icon(src='./../images/icon-aiqiyi.png')
      else
        .gift-none-body
          .gift-explain 今日的预约名额已满
          .gift-explain 【送您一张“赠饮券”】
          .gift-item
            .item-main
              .item-main-title 赠饮券2张
              .item-main-desc
                | 任意非酒精饮料
            //- form(action="http://localhost:3000/form", method='post', style='margin-bottom: 0;')
              input(name='gender', value='girl', style='display: none;')
            a.item-sub-btn(href='/form?type=ticket&gender=#{gender}')
              | 立即
              br 
              | 领取
      .gift-rule
        .rule-title 活动规则
        ul.rule-list
          li.rule-item 
            span ◆ 
            | 白玉兰上海锦江乐园酒店开业大礼包需线上预约，线下签到领取；
          li.rule-item 
            span ◆ 
            | 5/23 00:00～6/20 24:00 为线上预约时间，每日限量领取，随机分配，领完即止；
          li.rule-item
            span ◆ 
            | 白玉兰上海锦江乐园酒店开业大礼包需线上预约，线下签到领取；
          li.rule-item 
            span ◆ 
            | 预约成功，将发送短信提示，到店签到领取时请出示短信为凭；
          li.rule-item
            span ◆ 
            | 6/16～6/21 为线下签到领取时间，请按照预约时段前往白玉兰上海锦江乐园酒店签到，非预约时段恕不接待签到领取大礼包，逾期无效。
          li.rule-item 
            span ◆ 
            | 成功预约者凭短信到现场完成锦江旅行的会员注册即视为签到成功，可如约领取开业大礼包一份；

      .gift-rule
        .rule-title 免责声明
        ul.rule-list
          li.rule-item 
            span ◆ 
            | 参与活动即表示您同意本活动规则并同意依照隐私政策对您的个人信息进行收集和使用。
          li.rule-item 
            span ◆ 
            | 本次活动主办方不对因网络传输等原因而导致参加者信息错误或延误承担任何责任。活动过程中如因政府法律法规调整或行政命令要求，活动主办方有权根据上述调整或要求随时调整活动内容及规则。活动内容及规则调整时，活动主办方将另行向活动参与者公告通知相关的调整。
          li.rule-item 
            span ◆ 
            | 活动过程中出现“不可抗力”时间或计算机系统故障直接或间接的造成活动主办方无法履行其全部或部分义务，则活动主办方将免予履行该义务，并无需承担相应的责任。“不可抗力”时间包括但不限于，地震、泰方】活在、睡在、战争、法律法规调整、政府命令禁止、因黑客攻击、计算机病毒影响造成计算机系统故障，及其他自然或认为灾害等导致活动无法继续开展的，且活动主办方不可预见、无法避免或无法控制的事件。
          li.rule-item 
            span ◆ 
            | 若用户对本次活动有任何疑义，请联系热线：400-820-9999.
          li.rule-item 
            span ◆ 
            | 活动参与者理解并同意，活动参与者本人在参与本次活动前已完整阅读本活动规则，对活动该规则已完全理解并全部同意。活动参与者保证，在活动过程中，将完全遵照活动规则的规定参加活动。凡在本次活动中涉嫌使用不正当手段这，或主办方确有证据证明认为其有舞弊或其他不正当行为的活动参与者，主办方有权取消其参加活动、获得奖品的权利。


        
        
              
    //- p= message