html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    title 相约摩天轮 ⽩享一夏
    link(rel='stylesheet', type='text/css', href='./../lib/bootstrap-4.1.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./../css/loading.css')
    link(rel='stylesheet', type='text/css', href='./../css/mixin/cutIn.css')
    script(type='text/javascript', src='./../js/lib/jquery-3.3.1.min.js')
    script(type='text/javascript', src='./../js/lib/baidu.js')
    script(type='text/javascript', src='./../lib/bootstrap-4.1.1-dist/js/bootstrap.min.js')
  body
    include mixin/cutTo.jade
    +cutOut()
    .share-thumb
      image(src='./../images/share-thumb.png', style='width:500px;height:500px;overflow:hidden;')
    .main-body
      .loading-brand
        image(src='./../images/loading-brand.png', style='width: 100px; ')
      .gift-header
        image.gift-title(src='./../images/loading-title.png')
      .gift-subtitle 5月25日-6月21日
      .gift-subtitle 白玉兰品牌旗舰店邀您白享一夏
      .gift-body
        .pocket
          image#loading-aside1.asides(src='./../images/loading-aside1.png')
          image#loading-aside2.asides(src='./../images/loading-aside2.png')
          image#loading-aside3.asides(src='./../images/loading-aside3.png')
          image#loading-aside4.asides(src='./../images/loading-aside4.png')
        .pocket-bg
      //- .progress
      //-   .progress-bar(role='progressbar', style="width: 0%", aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
          //- a.btn-reward.hide-element(href='/gender') 立即领取
  script.
    
    var hasLook = null;
    hasLook = window.localStorage.getItem('hasLook');
    console.log(!hasLook);
    if ( !hasLook ) {
      window.localStorage.setItem('hasLook', true);

      var init = 0
      var prg = 0
      var progressing = setInterval(function(){
        prg += 2
        $('.progress-bar').css('width', prg + '%')
        console.log(prg);
        if(prg > 120) {
          //- setTimeout(function() {
          //-   $('.progress').fadeOut(2000);
          //- }, 1000)
          console.log(prg);
          clearInterval(progressing);
          $('.cutOut').fadeIn().css('display', 'block');
          $(window).attr('location','../chat');
        }
      }, 300);

      setTimeout(function() {

        init += 1
        if (init  === 1) {
          $('.pocket-bg').fadeIn();
        }

        console.log('#loading-aside' + init);
        $('#loading-aside' + (init - 1) ).fadeOut(500)
        setTimeout(function() {
          $('#loading-aside' + init).fadeIn(500)
        }, 1000)

        var asides = setInterval(function(){
          init += 1
          if (init  === 1) {
            $('.pocket-bg').fadeIn();
          }

          console.log('#loading-aside' + init);
          $('#loading-aside' + (init - 1) ).fadeOut(500)
          setTimeout(function() {
            $('#loading-aside' + init).fadeIn(500)
          }, 1000)

          if(init > 3) {
            //- $('.progress').css('display', 'none');
            clearInterval(asides);
          }
        }, 4000);
      }, 2000)

    } else {
      $(window).attr('location','../gift');
    }



    //- p= message