html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    title 相约摩天轮 ⽩享一夏
    script(type='text/javascript', src='./../js/lib/jquery-3.3.1.min.js')
    script(type='text/javascript', src='./../lib/bootstrap-4.1.1-dist/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='./../lib/bootstrap-4.1.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./../css/loading.css')
  body
    .main-body
      .gift-header
        image.gift-title(src='./../images/title.png')
      .gift-subtitle 6月21日 白玉兰上海锦江乐园酒店开业
      .gift-body
        .pocket
          //- image.red-bag(src='./../images/red-bag.png')
          .bag-title
            span.title-unit ￥
            | 1098
            //- a.btn-reward(href='/form?type=bag&gender=#{gender}') 立即领取
            .bag-subtitle 白吃！白喝！白玩！白住！白拿礼物！
            .progress
              .progress-bar(role='progressbar', style="width: 0%", aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
            a.btn-reward.hide-element(href='/gender') 立即领取
  script.
    var init = 0
    var progressing = setInterval(function(){
      init += 10
      $('.progress-bar').css('width', init + '%')
      if(init > 200) {
        $('.progress').css('display', 'none');
        setTimeout(function() {
          $('.btn-reward').fadeIn().css('display', 'block');
        }, 500)
        clearInterval(progressing);
      }
    }, 100);

    //- p= message