html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    title 相约摩天轮 ⽩享一夏
    link(rel='stylesheet', type='text/css', href='./../lib/bootstrap-4.1.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./../css/share.css')
    script(type='text/javascript', src='./../js/lib/jquery-3.3.1.min.js')
    script(type='text/javascript', src='./../lib/bootstrap-4.1.1-dist/js/bootstrap.min.js')
    script(type='text/javascript', src='./../js/lib/baidu.js')
  body
    .main-body
      .share-box
        .box-bg
          image(src=shareItem)
        .box-bg-content
          .btn-item(href='javascript:void(0)', onClick= 'hideBtns()') 保存并分享
          a.btn-item(href='/jump') 299特价房
  script.
    function hideBtns() {
      $('.box-bg-content').fadeOut();
    }
    