.notification {
  width: 100%;
}
.main-header {
  position: fixed;
}
.group-title {
  background-color: #138745;
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-grow: 3;
  font-size: 18px;
  color: white;
}
.group-title-icon {
  flex-grow: 1;
  padding: 10px 0;
}
.group-profile {
  flex-grow: 1;
  padding: 10px;
}
.icon-back {
  width: 30px;
}
.icon-profile {
  width: 25px;
}
.main-body {
  height: 100%;
  background-color: #E9E9F0;
  padding-bottom: 80px;
  padding-top: 100px;
}
.body-chat {
  height: auto;
  background-color: #E9E9F0;
  padding-bottom: 80px;
  /* padding-top: 100px;  */
}


.thumbnail {
  width: 50px;
}

.chat-left-item {
  display: flex;
  flex-direction: row;
}
.chat-right-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.chat-content {
  background-color: white;
  border-radius: 10px;
  padding: 12px;
}
.chat-line {
  padding: 14px 10px;
}
.chat-time {
  text-align: center;
  color: #8e8e93;
  font-size: 14px;
}
.chat-link {
  background-color: #138745;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.link-thumbnail {
  width: 100px;
}
.chat-thumbnail {
  padding: 0 4px;
}

.chat-link-desc {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 16px;
  color: white;
}

.chat-link-thumbnail {
  padding: 16px 0 16px 16px;
}

.get-start {
  position: absolute;
  bottom: -28px;
  right: 30px;
}
.icon-touch {
  width: 50px;
}


.desc-title{
  font-size: 14px;
  line-height: 32px;
}
.desc-intro {
  font-size: 12px;
  font-weight: 100;
}
.main-footer {
  background-color: #F5F6F7;
  border: 1px solid #D6D6DC;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-icon {
  width: 40px;
}
.icon-item {
  padding: 4px;
}
.input-blank {
  flex-grow: 6;
  border: 1px solid #CDCDCF;
  margin: 4px;
  border-radius: 4px;
}

.icon-send {
  flex-grow: 1;
  background-color: #138745;
  border-radius: 4px;
  margin: 4px;
  text-align: center;
  width: 24px;
}

/* animate */
#chat1,
#chat2,
#chat3,
#chat4,
#chat5,
#chat6,
#chat7,
#chat8,
#chat9,
#chat10,
#chat11,
#chat12,
#chat13,
#chat14,
#chat15 {
  display: none;
}

.notify-box{
  -webkit-transition: transform 0.3s,box-shadow 0.3s;
}
.notify{
  transform:translate(-3px,-3px);
  box-shadow:0px 3px 3px 3px #fff;
}