.main-body {
  height: 100%;
  background: url('./../images/bg-form.png'); 
  background-size: cover;
}
.body-header {
  padding-top: 20%;
  text-align: center;
}
.main-title {
  width: 60%; 
}
.body-form {
  width: 90%;
  margin: 10% auto;
  background-color: white;
  padding: 8%;
  border-radius: 10px;
}

.form-group {
  display: flex;
    flex-direction: row;
}

.check-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}
.check-item-input{
  margin: 0 auto;
}
.check-item-label {

}
.radioThumb {
  width: 50px;
  margin: 0 auto;
}

.phone-label {
  line-height: 54px;
    margin: 0;
    /* flex-grow: 1; */
    width: 100px;
    background-color: #FC4E29;
    border-radius: 6px 0 0 6px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: 18px;
}

.form-group-input {
  width: 100%;
  background-color: #F1F7F8;
  border: 0;
  border-radius: 4px;
  padding: 14px;
  font-size: 16px;
}
.form-group select {
  width: 100%;
  background-color: #F1F7F8;
  border: 0;
  border-radius: 4px;
  padding: 14px;
  font-size: 18px;
}

.btn-submit {
  /* background-color: #FF3F29; */
  border: 0;
  width: 100%;
  font-size: 22px;
  line-height: 3rem;
  border-radius: 40px;
  color: white;
  letter-spacing: 2px;
  margin-top: 2rem;
  background: -webkit-linear-gradient(-8deg, #ff5434, #ff9f4f); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(-8deg, #ff5434, #ff9f4f); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(-8deg, #ff5434, #ff9f4f); /* Firefox 3.6 - 15 */
  background: linear-gradient(-8deg, #ff5434, #ff9f4f); /* 标准的语法 */
}

.error-msg {
  color: #FF3F29;
  font-size: 12px;
  font-weight: 500;
}