.main-body {
  position: relative; 
  width: 100%; 
  /* height: 100%; */
  background: url('./../images/bg.png'); 
  background-size: cover;
}

.gift-header {
  padding-top: 14%;
  padding-bottom: 4%;
  text-align: center;
}

.gift-title {
  width: 60%; 
}
.thumbnail {
  width: 120px;
  height: 120px;
}

.gift-body {
  /* padding: 6% 10%; */
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.btn-groups {
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding-bottom: 10%;
}

.btn-submit {
  /* background-color: #FF3F29; */
  text-align: center;
  font-size: 18px;
  margin: 20px 2%;
  border: 0;
  width: 100%;
  line-height: 3rem;
  border-radius: 40px;
  color: white;
  letter-spacing: 2px;
  margin-top: 2rem;
  background: -webkit-linear-gradient(-8deg, #ff5434, #ff9f4f); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(-8deg, #ff5434, #ff9f4f); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(-8deg, #ff5434, #ff9f4f); /* Firefox 3.6 - 15 */
  background: linear-gradient(-8deg, #ff5434, #ff9f4f); /* 标准的语法 */

}

.splash-body {
  /* background-color: white; */
  background-image: url('./../images/bg-pattern.png');
  /* background-size: cover; */
  background-repeat: repeat;
  z-index: 10;
  position: absolute;
  /* height: 100%; */
  width: 100%;
  top: 0px;
  display: none;

}

.rotate-it {
  -webkit-transition: transform 1s;
}

.rotate-share-item {
  transform:rotate(360deg);
  -ms-transform:rotate(360deg); 	/* IE 9 */
  -moz-transform:rotate(360deg); 	/* Firefox */
  -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
  -o-transform:rotate(360deg); 	/* Opera */
}
.share-item {
  width: 100%;
  display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon
 {
  background-color: black;
}

.splash-image {
  /* margin-top: 20%; */
  background-color: white;
  padding-bottom: 4px;
}
.splash-share-btn {
  width: 80%;
  height: 100px;
  margin: 0 auto 10%;
  display: flex;
}

.splash-tell {
  margin-top: 10%;
  font-size: 24px;
  text-align: center;
  font-weight: 800;
  color: white;
  background-color: #6AD0DF;
  line-height: 64px;
}

.shared-one {
  display: block;
}